#second{
    height: 150px;
    width: 150px;
    background-color: green;
}
#third{
    height: 100px;
    width: 100px;
    background-color: blue;

}
#first{
    height: 50px;
    width: 50px;
    background-color: red;

}

.square{
    background-color: orange;
    height: 20px;
    width: 20px;
}

div{
    background-color:pink;
    font-size: 10px;
}

#fourth{
    height: 30px;
    width: 30px;
    background-color: yellow;
}